.wrapper {
  width: 100%; }

body {
  width: 100% !important;
  min-width: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  Margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

img {
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
  width: auto;
  max-width: 100%;
  clear: both;
  display: block; }

center {
  width: 100%;
  min-width: 680px; }

a img {
  border: none; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

td, th {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  border-collapse: collapse !important; }

table, tr, td, th {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  vertical-align: top;
  text-align: left; }

@media only screen {
  html {
    min-height: 100%;
    background: #F2F2F2; } }

table.body {
  background: #F2F2F2;
  height: 100%;
  width: 100%; }

table.container {
  background: #fff;
  width: 680px;
  margin: 0 auto;
  Margin: 0 auto;
  text-align: inherit; }

table.row {
  padding: 0;
  width: 100%;
  position: relative; }

table.spacer {
  width: 100%; }
  table.spacer td {
    mso-line-height-rule: exactly; }

table.container table.row {
  display: table; }

th.columns {
  margin: 0 auto;
  Margin: 0 auto;
  padding-left: 32px;
  padding-bottom: 16px; }

th.columns.last {
  padding-right: 32px; }

th.columns table {
  width: 100%; }
  th.columns table.button {
    width: auto; }
    th.columns table.button.expand {
      width: 100%; }

th.large-2 {
  width: 81.33333px;
  padding-left: 16px;
  padding-right: 16px; }

th.large-2.last {
  padding-right: 32px; }

th.large-3 {
  width: 138px;
  padding-left: 16px;
  padding-right: 16px; }

th.large-3.first {
  padding-left: 32px; }

th.large-4 {
  width: 194.66667px;
  padding-left: 16px;
  padding-right: 16px; }

th.large-4.first {
  padding-left: 32px; }

th.large-4.last {
  padding-right: 32px; }

th.large-5 {
  width: 251.33333px;
  padding-left: 16px;
  padding-right: 16px; }

th.large-6 {
  width: 308px;
  padding-left: 16px;
  padding-right: 16px; }

th.large-6.first {
  padding-left: 32px; }

th.large-6.last {
  padding-right: 32px; }

.collapse > tbody > tr > th.large-6 {
  padding-right: 0;
  padding-left: 0;
  width: 340px; }

.collapse th.large-6.first,
.collapse th.large-6.last {
  width: 356px; }

th.large-6 center {
  min-width: 244px; }

th.large-12 {
  width: 648px;
  padding-left: 16px;
  padding-right: 16px; }

th.large-12.first {
  padding-left: 32px; }

th.large-12.last {
  padding-right: 32px; }

td.expander,
th.expander {
  visibility: hidden;
  width: 0;
  padding: 0 !important; }

th.text-center {
  text-align: center; }

p.text-right {
  text-align: right; }

img.float-right {
  float: right;
  text-align: right; }

table.float-center,
th.float-center {
  margin: 0 auto;
  Margin: 0 auto;
  float: none;
  text-align: center; }

body,
table.body,
h1,
h2,
h4,
h5,
p,
td,
th {
  color: #0a0a0a;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin: 0;
  Margin: 0;
  text-align: left;
  line-height: 1.3; }

h1,
h2,
h4,
h5 {
  color: inherit;
  word-wrap: normal;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin-bottom: 10px;
  Margin-bottom: 10px; }

h1 {
  font-size: 34px; }

h2 {
  font-size: 30px; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 20px; }

body,
table.body,
p,
td,
th {
  font-size: 16px;
  line-height: 1.3; }

p {
  margin-bottom: 10px;
  Margin-bottom: 10px; }
  p.lead {
    font-size: 20px;
    line-height: 1.6; }

a {
  color: #0B4041;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  padding: 0;
  text-align: left;
  line-height: 1.3; }
  a:hover {
    color: #041515; }
  a:active {
    color: #041515; }
  a:visited {
    color: #0B4041; }

span.preheader {
  display: none !important;
  visibility: hidden;
  mso-hide: all !important;
  font-size: 1px;
  color: #F2F2F2;
  line-height: 1px;
  max-height: 0px;
  max-width: 0px;
  opacity: 0;
  overflow: hidden; }

table.button {
  width: auto;
  margin: 0 0 16px 0;
  Margin: 0 0 16px 0; }
  table.button table td {
    text-align: left;
    color: #fff;
    background: #0B4041;
    border: 2px solid #0B4041; }
    table.button table td a {
      font-family: Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-weight: bold;
      color: #fff;
      text-decoration: none;
      text-align: left;
      display: inline-block;
      padding: 8px 16px 8px 16px;
      border: 0 solid #0B4041;
      border-radius: 0; }

table.button:hover table tr td a,
table.button:active table tr td a,
table.button table tr td a:visited,
table.button.large:hover table tr td a,
table.button.large:active table tr td a,
table.button.large table tr td a:visited {
  color: #fff; }

table.button.large table a {
  padding: 10px 20px 10px 20px;
  font-size: 20px; }

table.button.expand {
  width: 100%; }
  table.button.expand table {
    width: 100%; }
    table.button.expand table a {
      text-align: center;
      width: 100%;
      padding-left: 0;
      padding-right: 0; }
  table.button.expand center {
    min-width: 0; }

table.button:hover table td,
table.button:visited table td,
table.button:active table td {
  background: #041515;
  color: #fff; }

table.button:hover table a,
table.button:visited table a,
table.button:active table a {
  border: 0 solid #041515; }

table.button.secondary table td {
  background: #666666;
  color: #fff;
  border: 0px solid #666666; }

table.button.secondary table a {
  color: #fff;
  border: 0 solid #666666; }

table.button.secondary:hover table td {
  background: gray;
  color: #fff; }

table.button.secondary:hover table a {
  border: 0 solid gray; }

table.button.secondary:hover table td a {
  color: #fff; }

table.button.secondary:active table td a {
  color: #fff; }

table.button.secondary table td a:visited {
  color: #fff; }

table.callout {
  margin-bottom: 16px;
  Margin-bottom: 16px; }

th.callout-inner {
  width: 100%;
  border: 1px solid #cccccc;
  padding: 10px;
  background: #fff; }
  th.callout-inner.primary {
    background: #c7f5f6;
    border: 1px solid black;
    color: #0a0a0a; }

table.menu {
  width: 680px; }
  table.menu th.menu-item {
    padding: 10px;
    padding-right: 10px; }
    table.menu th.menu-item a {
      color: #0B4041; }

.menu[align="center"] {
  width: auto; }

@media only screen and (max-width: 712px) {
  table.body img {
    width: auto;
    height: auto; }
  table.body center {
    min-width: 0 !important; }
  table.body .container {
    width: 95% !important; }
  table.body .columns {
    height: auto !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 32px !important;
    padding-right: 32px !important; }
  table.body .collapse .columns {
    padding-left: 0 !important;
    padding-right: 0 !important; }
  th.small-6 {
    display: inline-block !important;
    width: 50% !important; }
  th.small-12 {
    display: inline-block !important;
    width: 100% !important; }
  table.menu {
    width: 100% !important; }
    table.menu td,
    table.menu th {
      width: auto !important;
      display: inline-block !important; }
  table.menu[align="center"] {
    width: auto !important; } }

/* UDD Styles */
table.container {
  background-image: url(https://udd-medicina-newsletter.netlify.app/assets/img/fondo.jpg) !important;
  background-color: #FEFEFE;
  background-repeat: no-repeat; }

/* Header */
.logo-udd {
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
  width: 180px; }

/* Noticias */
.destacado {
  padding-bottom: 0 !important; }
  .destacado h1 {
    font-size: 1rem;
    font-weight: 700;
    hyphens: none !important; }
  .destacado p {
    color: #666666;
    font-size: 14px;
    margin-bottom: 0;
    hyphens: none !important; }
  .destacado .cont-destacado {
    background-color: #fff;
    padding: 1rem 2rem 3rem; }

a h1 {
  font-weight: 700; }

.enlace-noticia {
  color: #0B4041;
  font-size: 12px;
  display: block;
  font-weight: 700;
  hyphens: none !important; }

.content-noticia {
  padding: 1rem;
  padding-bottom: 2rem; }

.grey-bg {
  background-color: #DDD; }

th.columns {
  padding-bottom: 0; }

/* Redes */
.cont-redes .red-social {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.cont-redes a {
  color: #fff;
  text-transform: uppercase;
  text-align: center !important;
  width: 100%;
  margin: 0 auto;
  display: block; }
  .cont-redes a span {
    font-size: 11px;
    white-space: nowrap; }
  .cont-redes a img {
    margin-right: 0.2rem;
    display: inline-block; }

.cont-redes .content-link {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center; }

.web {
  background-color: #093737; }

.instagram {
  background-color: #E1306C; }

.facebook {
  background-color: #4267B2; }

.twitter {
  background-color: #111; }

/* Actividades */
.actividades h4 {
  color: #327481;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase; }

/* Footer */
.footer {
  background-color: #009A7A; }
  .footer img {
    margin-top: 8px;
    margin-bottom: 16px;
    max-width: 240px; }

.footer img.logo-decide {
  /* margin-top: 46px !important; */
  width: 144px;
  margin-top: 24px; }

.caja-noticia img {
  height: auto;
  width: 90%;
  margin: auto; }

.caja-noticia a img {
  height: auto;
  width: 90%;
  margin: auto; }

@media only screen and (max-width: 712px) {
  .grey-bg {
    background-color: #FFF !important; }
  table.body .columns {
    padding-left: 0 !important;
    padding-right: 0 !important; }
  .destacado {
    padding-bottom: 0 !important; }
  .caja-noticia img {
    width: 100% !important;
    height: auto !important; }
  .enlace-noticia {
    font-size: 16px !important; }
  .logo-decide {
    margin-top: 20px !important; }
  .header img {
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 1.5rem; }
  .footer img {
    margin-right: .5rem;
    margin-left: .5rem;
    max-width: 164px !important; }
  .logo-udd {
    margin-top: 1.5rem !important; } }

/* Helpers */
.float-right {
  float: right !important; }

.padding-right-0 {
  padding-right: 0 !important; }

.padding-left-0 {
  padding-left: 0 !important; }

.padding-x-0 {
  padding-right: 0 !important;
  padding-left: 0 !important; }

.padding-y-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }
